<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>trips</title>
    <style media="screen">
      body {
        font-family: sans-serif;
      }
      dl {
        margin-top: 0;
      }
      dt {
        color: #ccc;
      }
      dd {
        font-weight: bold;
      }
      .tripsTable td {
        border-top: 1px solid #eee;
        vertical-align: top;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>{{profile.username}}</h1>
    <div style="padding: 20px;">
      <em><a href="https://github.com/stereosteve/citibiker" target="_blank">citibiker</a> demo from my personal data</em>
    </div>
    <table class="tripsTable">
      {% for trip in trips %}
        <tr>
          <td>
            <dl>

              <dt>Date</dt>
              <dd>{{trip.displayDate}}</dd>

              <dt>A</dt>
              <dd>{{trip.startStation}}</dd>

              <dt>B</dt>
              <dd>{{trip.endStation}}</dd>

              <dt>Took</dt>
              <dd>{{trip.duration}}</dd>

            </dl>
          </td>
          <td>

            {% set startStation = stationMap[trip.startStation] %}
            {% set endStation = stationMap[trip.endStation] %}
            {% if startStation or endStation %}
              <img width="300" height="300"
                   src="https://maps.googleapis.com/maps/api/staticmap?
                        &size=300x300
                        &maptype=terrain
                        &markers=color:0x9acd32|label:A|{{startStation.latitude}},{{startStation.longitude}}
                        &markers=color:0x006400|label:B|{{endStation.latitude}},{{endStation.longitude}}
                        &key=AIzaSyBAsdGLGFJfUQ2mU4jLW2FYxG5x96wuA3E" />
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
