<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>trips</title>
  </head>
  <body>
    <h1>trips</h1>
    {% for trip in trips %}
      <hr>
      <h1>{{trip.date}}</h1>

      <dl>

        <dt>Start Station</dt>
        <dd>{{trip.startStation}}</dd>

        <dt>End Station</dt>
        <dd>{{trip.endStation}}</dd>

        <dt>Duration</dt>
        <dd>{{trip.duration}}</dd>

      </dl>

      {% set startStation = stationMap[trip.startStation] %}
      {% set endStation = stationMap[trip.endStation] %}
      {% if startStation or endStation %}
        <img src="https://maps.googleapis.com/maps/api/staticmap?
                  &size=600x300
                  &maptype=terrain
                  &markers=color:green|label:S|{{startStation.latitude}},{{startStation.longitude}}
                  &markers=color:red|label:E|{{endStation.latitude}},{{endStation.longitude}}
                  &key=AIzaSyBAsdGLGFJfUQ2mU4jLW2FYxG5x96wuA3E" />
      {% endif %}
    {% endfor %}
  </body>
</html>
